* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    background-color: white;
    color: white;
    font-family: "Poppins", sans-serif;
}

            /* super vip vakansiebi */
/* ======================================= */
.slaideri {
    display: none;
}

.slaideri_poto {
    vertical-align: middle;
    width: 99.2%;
    height: 64%;
}

.slaideri_container {
  width: 99.6%;
  position: relative;
  margin: auto;
  left: 1px;
}

.slaideri_text {
  color: #FFD700;
  border: solid 2px #FFD700;
  border-radius: 8px;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 50%;
  text-align: center;
}

.wertilebi {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  left: 45%;
  margin-bottom: 15px;
}

.wertilebi_gadasvla {
  background-color: #2AAA8A;
}

@media only screen and (max-width: 600px) {
    .slaideri_text {
        font-size: 20px;
    }
    
    .slaideri_container {
        overflow-y: hidden;
    }
}
/* ======================================= */




			/* kompis menu */
/* ======================================= */
.d0 a {
    text-decoration: none;
}

.d0 {
    padding: 0 20px;
    /* background-color: #1d1f1d; */
	background-color: #2AAA8A;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
  
.dasaxeleba {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
}
  
.dasaxeleba a {
    /* color: #09c372; */
    color: #ffffff;
}
  
ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
ul a {
    color: rgb(255, 255, 255);
}
  
ul li {
    padding: 4px;
    margin: auto 0;
    margin-top: 8px;
    font-size: 18px;
    border-left: solid 1px black;
}

.no_border {
    border: hidden;
}
  
/* div ul li:hover {
    background-color: rgb(68, 112, 112);
    text-align: center;
    color: black;
} */

.k_menu a {
    font-size: 16px;
    margin-left: 14px;
    margin-right: 10px;
}
/* ======================================= */




			/* telefonis menu  */
/* ======================================= */
.h_icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
  
.h_icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

			/* gaxsnis animacia */
/* --------------------------------------- */
.gaxsna .h_1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.gaxsna .h_2 {
    opacity: 0;
}
  
.gaxsna .h_3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
  
.gaxsna .m_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/* --------------------------------------- */
  
.m_menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    /* height: calc(100vh - 50px); */
	height: 50%;
    width: 50%;
    background-color: darkslategrey;
    z-index: 999;
}
  
.m_menu li {
    margin-bottom: 10px;
}
/* ======================================= */




			/* sia */
/* ======================================= */
.sia {
    text-decoration: none;
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table a {
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    color: black;
}

th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	border-bottom: solid 1px rgb(202, 202, 202);
	border-right: hidden;
  }

  /* th {
	border-bottom: solid 1px rgb(202, 202, 202);
	border-right: hidden;
  } */

  tr td {
	border-bottom: solid 1px rgb(202, 202, 202);
	border-right: hidden;

  }

tr a:hover {
    color: white;
}

tr:hover {
    background-color: #AFE1AF;
    color: white;
}

.th_h { /*hover ro ar qondes */
    background-color: white;
    color: black;
}

 .th_h:hover { /*hover ro ar qondes */
	background-color: white;
	color: black;
}
/* ======================================= */




			/* bevr vakansiani */
/* ======================================= */
img {
	width: 100px;
	height: 100px;
	background-color: white;
	border: solid 1px green;
	border-radius: 8px; 
	margin: 2px;
}

.damsaqmebeli_0 {
	display: flex;
	justify-content: space-evenly;
	background-color: #FFD700;
	/* background-color: #2AAA8A; */
}

.damsaqmebeli {
	  margin-top: 30px;
	  margin-bottom: 30px;
}
/* ======================================= */




  			/* dark mode */
/* ======================================= */
			/* gadamrtveli */
/* --------------------------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

	/* fers ucvlis */
input:checked + .slider {
    background-color: #2196F3;
}

	/* arvici */
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

	/* burti gadadis */
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

	/* gadamrtveli */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/* --------------------------------------- */

.dark_mode {
	background-color: #192734;
    color: rgb(222, 222, 222);
}


	/* munuebi */
/* --------------------------------------- */
.dark_mode .d0 {
    padding: 0 20px;
    background-color: #1d1f1d;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.dark_mode .dasaxeleba a {
    color: #09c372;
}

.dark_mode ul a {
    color: rgb(222, 222, 222);
}

.dark_mode ul li {
    padding: 4px;
    margin: auto 0;
    margin-top: 8px;
    font-size: 18px;
    border-left: solid 1px #08b368;
}

/* --------------------------------------- */


	/* sia */
/* --------------------------------------- */
.dark_mode .th_h { /*hover ro ar qondes */
    background-color: #192734;
    color: rgb(222, 222, 222);
}

.dark_mode .th_h:hover { /*hover ro ar qondes */
    background-color: #192734;
    color: rgb(222, 222, 222);
}	  

.dark_mode .sia {
    text-decoration: none;
    color: rgb(222, 222, 222);
}

.dark_mode table {
    border-collapse: collapse;
    width: 100%;
}

.dark_mode table a {
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    color: rgb(222, 222, 222);
}

.dark_mode th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.dark_mode th {
		border-bottom: solid 1px rgb(202, 202, 202);
		border-right: hidden;
}

.dark_mode .no_border {
    border: hidden;
}

.dark_mode tr a:hover {
    color: rgb(240, 240, 240);
}

.dark_mode tr:hover {
    background-color: #314961;
    color: rgb(240, 240, 240);
}
/* --------------------------------------- */


	/* bevr vakansiani */
/* --------------------------------------- */
.dark_mode .damsaqmebeli_0 {
    display: flex;
    justify-content: space-evenly;
    background-color: #bda103;
}
/* ======================================= */



@media only screen and (max-width: 600px) {
	.d0 .k_menu {
		display: none;
	}
  
	.h_icon {
		display: block;
	}

	div ul li:hover {
    	background-color: rgb(68, 112, 112);
    	width: 100%;
    	text-align: center;
    	color: black;
  	}

    ul li {
        padding: 4px;
        margin: auto 0;
        margin-top: 8px;
        font-size: 18px;
        border: hidden;
    }
    
    .no_border {
        border: hidden;
    }

    .dark_mode ul li {
        padding: 4px;
        margin: auto 0;
        margin-top: 8px;
        font-size: 18px;
        border-left: hidden;
    }

  }


