.t1 {
    border: solid 1px black;
    width: 200px;
    height: 150px;
}

.t1 td {
    border: solid 1px red;
    padding: 2px;
}

.cw1_1 {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
