/* @media (max-width: 768px){ */
    html {
      overflow-y:hidden;
    }

    body {
        font-family: "open sans", sans-serif;
        background-image: url(./potoebi/fuli.jpg);
    }

    .d0 {
        width: 330px;
        margin: 130px auto;
        background-color: rgb(255, 255, 255);
        padding: 45px;
        box-sizing: border-box;
        height: auto;
        position: relative;
        box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
        border-radius: 7px;
    }

    .t1 {
        position: absolute;
        top:  -16px;
        left: 75px;
        /* background-color: #AFE1AF; */
        background-color: #2AAA8A;
        padding: 10px 20px;
        font-weight: 700;
        font-style: italic;
        text-transform: 1px;
        letter-spacing: 2px;
        font-size: 18px;
        border-radius: 4px;
        color: white;
    }

    .f0 {
        width: 150px;
        margin-bottom: 2px;
        border-radius: 4px;
    }

    .f1 {
        margin: 5px 0 10px;
        width: 230px;
        padding: 10px;
        box-sizing: border-box;
        /* border: solid 2px #AFE1AF; */
        border: solid 2px #2AAA8A;
        color: rgb(189, 188, 188);
        font-size: 12px;
        border-radius: 4px;
    }

    .b1 {
        width: 150px;
        /* background-color: #AFE1AF;
        border: solid 2px #AFE1AF; */
        background-color: #2AAA8A;
        border: solid 2px #2AAA8A;
        height: 40px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;
        border-radius: 4px;
        font-size: 18px;
        margin-left: 45px;
        margin-bottom: -50px;
        margin-top: 20px;
    }
/* } */


/* ======================================= */
.a_hover {
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
  }
  
  .a_hover:hover {
    background-color: #46ccaa;
    color: black;
  }
  
  .previous {
    background-color: #2AAA8A;
    color: white;
  }

  .dark_mode .previous {
    background-color: #2AAA8A;
    color: black;
  }

  .dark_mode .previous:hover {
    background-color: #46ccaa;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }
/* ======================================= */
.dark_mode {
    background-color: #192734;
    color: rgb(222, 222, 222);
    background-image: url(./potoebi/fuli_d.png);

}

.dark_mode .d0 {
    width: 330px;
    margin: 130px auto;
    background-color: #192734;
    padding: 45px;
    box-sizing: border-box;
    height: auto;
    position: relative;
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
    border-radius: 7px;
}

.dark_mode .t1 {
    position: absolute;
    top:  -16px;
    left: 75px;
    background-color: #1f856b;
    padding: 10px 20px;
    font-weight: 700;
    font-style: italic;
    text-transform: 1px;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 4px;
    color: rgb(222, 222, 222);
}

.dark_mode .f1 {
    margin: 5px 0 10px;
    width: 230px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #527da5;
    border: solid 2px #1f856b;
    color: rgb(222, 222, 222);
    font-size: 12px;
    border-radius: 4px;
}

.dark_mode .b1 {
    width: 150px;
    background-color: #1f856b;
    border: solid 2px #1f856b;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(222, 222, 222);
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    margin-left: 45px;
    margin-bottom: -50px;
    margin-top: 20px;
}

.dark_mode ::placeholder { 
    color: rgb(222, 222, 222);
  }

/* ======================================= */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  .gilakebi {
      display: flex;
      justify-content: space-between;
      width: 100%;
      /* margin: auto; */
  }
/* ======================================= */

.dagaviwydat {
    text-decoration: underline rgb(72, 176, 218);
    color: rgb(72, 176, 218);
    font-size: 12px;
}
